.App {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.box {
  width: 45%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.current-note {
  font-size: 24px; /* 現在のノートの文字サイズを大きく */
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.note-list {
  text-align: left; /* ノート一覧を左揃えに */
}

.note-list p {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}
